@import "tailwindcss";
@import '@savaryna/tailwindcss-material-symbols';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Red_October";
  src: url("/assets/fonts/Red_October.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-ribbook-red: #DB2524;
  --color-ribbook-yellow: #F5CB3A;
  --color-ribbook-pink: #FFDAD6;

  --color-text-muted: #656565;
  --color-bg-light: #eeeeee;
  --color-icon-fill: #d8c2bf;

  --font-red-october: "Red_October", sans-serif;
}

body {
  font-family: 'roboto', sans-serif;
}
