@import './base.css';

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-yellow {
  color: var(--color-ribbook-yellow);
}

.icon-gray {
  color: var(--color-text-muted);
}

.text-comment-stats {
  font-size: 15px;
  font-family: 'roboto', sans-serif;
}

